<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hongchen">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hong Chen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MucyeuthichActivity" />
        <activity android:name=".Activity.PlayvideoActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.PlayActivity" />
        <activity android:name=".Activity.ResetPasswordActivity" />
        <activity android:name=".Activity.ForgetPasswordActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.DanhsachkttActivity" />
        <activity android:name=".Activity.DanhsachostActivity" />
        <activity android:name=".Activity.DanhsachvideoActivity" />
        <activity android:name=".Activity.DanhsachcacplaylistActivity" />
        <activity android:name=".Activity.DanhsachbaihatActivity" />
        <activity android:name=".Activity.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>